.env
.env-dev
.terraform.*
.terraform/
.vscode/settings.json
*.sqlite
certificates/
cov_profile.lcov
cov_profile/
coverage-html/
coverage/
cs-db.sqlite
cs.sqlite
fauna/
inventory.file
main.zsh
terraform.*
client
